.nav {
    width: 10vw;
    height: 100vh;
    background-color: rgba(238, 236, 151, 0.897);
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

a {
    color: black;
    text-decoration: none;
}